
<ion-header id="manga-info-header">
  <ion-toolbar id="manga-info-header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button (click)="close()" defaultHref="mangatheque">back</ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ !isInCheckMode ? manga.title : "Selection de chapitres" }}
    </ion-title>
    <ion-buttons
        *ngIf="!isInCheckMode"
        slot="end">
      <ion-button (click)="openMangaInfoMenu($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs
    [activeTabIndex]="baseActiveSlide"
    (tabChange)="undefined"
    #supertabs>

    <!-- Super Tabs -->
    <super-tabs-container
        [swipeEnabled]="!isInCheckMode">
      <super-tab>
        <ion-nav [root]="landing" [rootParams]="{ manga: manga, mangaInfo: thisInstance }"></ion-nav>
      </super-tab>
      <super-tab>
        <ion-nav [root]="local" [rootParams]="{ manga: manga, mangaInfo: thisInstance }"></ion-nav>
      </super-tab>
      <super-tab>
        <ion-nav [root]="download" [rootParams]="{ manga: manga, mangaInfo: thisInstance }"></ion-nav>
      </super-tab>
    </super-tabs-container>

    <!-- footer -->
    <manga-info-footer
      *ngIf="isInCheckMode"
      [fromPage]="pageCheckedName"
      (cancelFunction)="closeFooter($event)"
      (deleteFunction)="deleteSelectedChapters($event)"
      (downloadFunction)="downloadSelectedChapters($event)">
    </manga-info-footer>
  </super-tabs>
</ion-content>
