
<!--
<app-global-header [title]="'Télécharger Chapitres'"></app-global-header>
-->

<ion-content>

  <!-- Message lowConnectionMode -->
  <section
      *ngIf="getLowConnectionMode() && mangaList.newestChapters.length <= 0 && mangaList.recentChapters.length <= 0 && searchingResult.length <= 0"
      id="low-connection-information">
    <h2 id="low-connection-information-title"> Mode économie de connexion </h2>
    <p>Nous chargerons du contenu depuis Internet que lorsque vous le voudrez !</p>
    <p>Les illustrations des mangas sont aussi cachées pour minimiser au maximum l'utilisation de donnée.</p>
  </section>

  <!-- Resultats de recherche -->
  <app-chapter-list
    title="Recherche"
    [mangas]="searchingResult"
    affichage="sourced-manga"
    [showTitleIfNoChapter]="false">
      <ion-icon button name="close" (click)="resetSearchingResult()"></ion-icon>
  </app-chapter-list>

  <!-- Nouveaux Chapitres -->
  <app-chapter-list
    title="Nouveaux Chapitres"
    [mangas]="mangaList.newestChapters"
    [showTitleIfNoChapter]="false">
  </app-chapter-list>

  <!-- Chapitres récents -->
  <app-chapter-list
    title="Chapitres récents"
    [mangas]="mangaList.recentChapters"
    [showTitleIfNoChapter]="false"
    [callbackRefresh]="getNewMangaChapters">
  </app-chapter-list>

  <!-- Scroll infini -->
  <ion-infinite-scroll *ngIf="!getLowConnectionMode()" threshold="100px" (ionInfinite)="refreshMangaList($event)">
    <ion-infinite-scroll-content loadingSpinner="circular"> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <section>
    <ion-button *ngIf="getLowConnectionMode()" class="low-connection-button" expand="block" (click)="getNewMangaChapters(undefined)">
      Charger les chapitres
    </ion-button>
  </section>

</ion-content>
