
<ion-item class="section-items">

  <ion-label
      (click)="!isInCheckMode ? readManga(chapter) : undefined">
    <h3 *ngIf="chapter.title.length > 0" class="item-label-title"> #{{ chapter.num }} - {{ chapter.title }} </h3>
    <h3 *ngIf="chapter.title.length <= 0" class="item-label-title"> Chapitre {{ chapter.num }} </h3>

    <ng-container *ngIf="affichage === 'normal'">
      <p> {{ chapter.date }} ― <i> {{ chapter.source }} </i> </p>
    </ng-container>
    <ng-container *ngIf="affichage === 'downloading'">
      <p> Progression: {{ chapter.progress }}% <i> ({{ chapter.lastStep }}) </i> </p>
      <div class="progress-bar-container">
        <div class="progress-bar" [ngStyle]="{'width': chapter.progress + '%'}"></div>
      </div>
    </ng-container>
  </ion-label>

  <ng-container
      *ngIf="modalOptionsToShow.length > 0">
    <ion-icon
      *ngIf="!isInCheckMode"
      button
      (click)="openActionSheet(chapter)"
      slot="end"
      name="ellipsis-vertical">
    </ion-icon>
  </ng-container>

  <ion-checkbox
    *ngIf="isInCheckMode && isCheckable"
    color="primary"
    slot="end"
    (ionChange)="toggleChecked()"
    [(ngModel)]="isChecked">
  </ion-checkbox>
</ion-item>
