
<ion-item
    class="section-items">
  <ion-label
      (click)="readManga(chapter)">
    <h3 *ngIf="chapter.title.length > 0" class="item-label-title"> #{{ chapter.num }} : {{ chapter.title }} </h3>
    <h3 *ngIf="chapter.title.length <= 0" class="item-label-title"> Chapitre {{ chapter.num }} </h3>
    <p> {{ chapter.date }} ― <i> {{ chapter.source }} </i> </p>
  </ion-label>
  <ion-icon
    *ngIf="!isInCheckMode"
    button
    (click)="openActionSheet(chapter)"
    slot="end"
    name="ellipsis-vertical">
  </ion-icon>
  <ion-checkbox
    *ngIf="isInCheckMode"
    color="primary"
    slot="end"
    (ionChange)="toggleChecked()"
    [(ngModel)]="isChecked">
  </ion-checkbox>
</ion-item>
