
.thumbnail-container {

  --size: 100%;
  height: var(--size);
  width: var(--size);
  border-radius: 10px;

  img {
    width: var(--size);
    border-radius: 10px;
  }

  .thumbnail-background {

    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

  }

  .thumbnail-title {

    font-size: 22px;
    margin: 0;
    color: white;

  }

}
