
.manga {

  --image-size: 70px;
  --image-border-radius: 5px;

  min-height: 85px;

  &.grid {
    width: 50vw;
    height: 50vw;
    padding: 2px;
    --image-size: 100%;
    transform: translate(0);

    .manga-absolute-box {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      padding: 2px;
      background-color: var(--ion-color-light);
      border-radius: 20px;
      color: var(--ion-text-color);

      &.manga-title {
        bottom: 35px;
        right: 10px;
        max-width: calc(100% - 10px - 5px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px 7px;
      }

      &.manga-tags {
        bottom: 10px;
        right: 10px;
      }
    }
  }

  .manga-image {
    width: var(--image-size);
    height: var(--image-size);
    margin-top: 0;
    margin-bottom: 0;
    margin-inline-right: 0;
    margin-right: 15px;

    img {
      border-radius: var(--image-border-radius);
    }
  }

  .manga-info {

    .manga-title {
      font-size: 17px;
    }

    .manga-subinfo {
      font-size: 13px;
    }

  }

}
