
<!-- Manga Component as line Item -->
<ng-container *ngIf="!(affichage === 'mangatheque' && settingsService.getParameter('mangathequeGrid'))">
  <ion-item
      class="manga"
      (click)="openMangaInfo()">
    <ion-thumbnail
        class="manga-image">
      <img *ngIf="!settingsService.getParameter('lowConnectionMode')" [src]="manga.image">
      <img *ngIf="settingsService.getParameter('lowConnectionMode')" src="assets/icon/favicon.png">
    </ion-thumbnail>
    <ion-label class="manga-info">
      <h2 class="manga-title">
        {{ lines.title }}
        <ng-container *ngFor="let tag of tagsEnabled">
          <ion-icon
            [name]="tagsService.getTagInfo(tag, 'icon')"
            [color]="tagsService.getTagInfo(tag, 'color')"
            slot="start">
          </ion-icon>
        </ng-container>
      </h2>
      <h3 class="manga-subinfo"> {{ lines.subInfo }} </h3>
      <p> {{ lines.subsubInfo }} </p>
    </ion-label>
  </ion-item>
</ng-container>

<!-- Manga Component as 50vw square -->
<ng-container *ngIf="affichage === 'mangatheque' && settingsService.getParameter('mangathequeGrid')">
  <div
      class="manga grid"
      (click)="openMangaInfo()">
    <ion-thumbnail
        class="manga-image">
      <img *ngIf="!settingsService.getParameter('lowConnectionMode')" [src]="manga.image">
      <img *ngIf="settingsService.getParameter('lowConnectionMode')" src="assets/icon/favicon.png">
    </ion-thumbnail>
    <div class="manga-tags">
      <ng-container *ngFor="let tag of tagsEnabled">
        <ion-icon
          [name]="tagsService.getTagInfo(tag, 'icon')"
          [color]="tagsService.getTagInfo(tag, 'color')"
          slot="start">
        </ion-icon>
      </ng-container>
    </div>
  </div>
</ng-container>
